.header {
  padding: 20px 0;
  background-color: white;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__logo {
    width: 25px;
    height: 25px;
    img {
    }
  }

  &__cart__wrapper {
    display: flex;
    gap: 25px;
  }
  &__cart {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(./../assets/icons/empty-cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    background-color: transparent;

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 45%;
      left: 58%;
      width: 20px;
      height: 20px;
      color: white;
      background-color: #1d1f22;
      border-radius: 50%;

      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }

  &__favourites {
    @extend .header__cart;
    background-image: url(../../assets/icons/star-regular.svg);

    &__count {
      @extend .header__cart__count;
    }
  }
}
